.vscode/
/venv/
media/
local_settings.py
__pycache__
*.pyc
/.env
.idea
.pytest_cache
dump_db/

*.zip
*.rar
*.sqlite3
*.coverage

venv/
static/
frontend/
.env
celerybeat-schedule
celerybeat.pid
docker/*
_tests/*
